<footer class="text-muted py-5">
<div class="container">
  <p class="float-right">
    <a id="back-to-top">Back to top</a>
  </p>
  <p>Album template is based on Bootstrap © examples.&nbsp; <br>New to Bootstrap? <a href="#">Visit the homepage</a> or read our <a href="#">getting started guide</a>.</p>
</div>
</footer>
<script type="text/javascript">
jQuery(document).ready(function () {
  jQuery(body) = (window.opera) ? (document.compatMode == "CSS1Compat" ? jQuery('html') : $jQuery('body')) : jQuery('html,body');
  jQuery('#back-to-top').click(function(){
    jQuery(body).animate({scrollTop: jQuery('#nav-header').offset().top}, 1000);
    return false;
  });
});
</script>