$def with (data=None)

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>Album</title>
  <meta name="description" content="Wireframe design of an album page by Pingendo">
  <meta name="keywords" content="Pingendo bootstrap example template wireframe album ">
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/wireframe.css">
    <!-- Auxiliary resources -->
  <link rel="stylesheet" href="/static/css/auxiliary.css">
  <script type="text/javascript" src="/static/js/auxiliary.js"></script>
</head>

<body>
  $:data['header']
  <div class="text-center py-5">
    <div class="container">
      <div class="row my-5 justify-content-center">
        <div class="col-md-11 col-sm-8" id="centerDiv" style="text-align: center; font-size: 1.5em;">
        
        
          
          <div id="imageDiv" style="margin-top: 3px;">
            <div id="box" style="background: url(&quot;undefined&quot;) 0% 0% / 100% 100% no-repeat; display: inline-block;">
              <table><tr>
				<td><img src=$data['form']['image'] width="100%" border=0></td>
				<td><img src=$data['heatmap'] width="100%" border=0></td>
				</tr></table>
            </div>
            
            <div style="text-align: left; ">
                <div id="resultArea" style="display: block;"><ul><li><strong>环境: </strong>$data['ioscene']</li><li><strong>物体: </strong>$data['object']</li><li><strong>场景: </strong>$data['scene']</li><li><strong>感觉: </strong>$data['attributes']</li></ul></div>
            </div>
          </div>
        
        
        
          <p class="lead text-muted">#考虑将以上str换为带超链接或者div鼠标悬浮显示的，显示出近义古诗、词语（近义列表后面会做）<br>#另外，最好这个页面是动态加载出来的，防止模型计算过长时间 <br>#能否在浏览这个页面的同时在后台加载下个页面（运行写诗程序）</p>
          <a href="#" class="btn btn-primary m-2">以图搜诗</a>
          <a href="/gallery_poem?image=$data['form']['image']&relu=$data['relu']" class="btn btn-secondary m-2">以图作诗</a>
        </div>
      </div>
    </div>
  </div>
  </body>

</html>
