<form action="/query" method="post" enctype="multipart/form-data">
<div class="navbar navbar-dark bg-dark">
  <div class="container d-flex justify-content-between">
    <div class="form-inline my-2 my-lg-0">
      <table>
        <tr><!--<th></th>-->
        <td>
          <div class="navbar-expand-sm">
          <div class="navbar-collapse text-center justify-content-between" id="navbar2SupportedContent">
          <a class="navbar-brand" href="/index"><i class="fa d-inline fa-lg fa-bullseye">&nbspPoems</i></a>

            <ul class="navbar-nav" style="flex-direction: row;">
              <li class="nav-item">
                <a class="nav-link mx-2" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="#">Link</a>
              </li>
            </ul>
              </div>
          </div>
        </td>
        </tr>
        <tr>
        <td>
          <select name="searchType" class="form-control" style="width: 85px;padding: 5px">
              <option value="all" selected>全部</option>
              <option value="ancient">古诗文</option>
              <option value="modern">现代诗</option>
          </select>&nbsp
          <input class="form-control" type="text" name="query" style="width: 200px;" id="queryTextInput">
          <button class="btn btn-link my-2 my-sm-0" type="submit"><i class="fa d-inline fa-lg fa-search text-primary"></i></button>
          <span class="fileinput-span">
            <span><i class="navbar-brand fa d-inline fa-camera mr-2"></i></span>
          <!--<form id="imageSubmission">-->
            <input type="file" name="image" capture="camera" accept="image/" onchange="imageUploadChanged('queryTextInput')">
          <!--</form>-->
          </span>
        </td></tr>
      </table>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader">
        <span class="navbar-toggler-icon"></span>
      </button>
  </div>
</div>
<div class="collapse bg-dark" id="navbarHeader" style="opacity: 0.8">
  <div class="container">
    <div class="row">
      <div class="col-md-4 py-4">
        <h4>高级</h4>
        在以下选项中搜索：
        <table>
          <tr>
            <td>内容</td>
            <td><input type="checkbox" name="content" id="shared-content" checked></td>
          </tr>
          <tr>
            <td>标题</td>
            <td><input type="checkbox" name="title" id="shared-title" checked></td>
          </tr>
          <tr>
            <td>作者</td>
            <td><input type="checkbox" name="author" id="shared-author" checked></td>
          </tr>
          <tr>
            <td>标签</td>
            <td><input type="checkbox" name="label" id="shared-label" checked></td>
          </tr>
        </table>
        <!--<div class="form-check form-check">
          <label class="form-check-label">
            内容&nbsp<input class="form-check-input" type="checkbox" name="content" id="shared-content" checked>
          </label>
        </div>
        <div class="form-check form-check">
          <label class="form-check-label">
            标题&nbsp<input class="form-check-input" type="checkbox" name="title" id="shared-title" checked>
          </label>
        </div>
        <div class="form-check form-check">
          <label class="form-check-label">
            作者&nbsp<input class="form-check-input" type="checkbox" name="author" id="shared-author" checked>
          </label>
        </div>
        <div class="form-check form-check">
          <label class="form-check-label">
            标签&nbsp<input class="form-check-input" type="checkbox" name="label" id="shared-label" checked>
          </label>
        </div>-->
        <br>
        <div class="form-check-inline">
          <label class="form-check-label">
            精确搜索：<input class="form-check-input" type="checkbox" name="accurate">
          </label>
        </div>
      </div>
      <div class="col-md-4 py-4">
        <div id="ancient-search" class="collapse">
          <div class="form-group">
          标题：<input class="form-control-sm" type="text" name="ancientTitle" style="width: 150px;">
          </div>
          <div class="form-group">
          作者：<input class="form-control-sm" type="text" name="ancientAuthor" style="width: 150px;">
          </div>
          <div class="form-group">
          朝代：<input class="form-control-sm" type="text" name="ancientTime" style="width: 150px;">
          </div>
          <div class="form-group">
          标签：<input class="form-control-sm" type="text" name="ancientLabel" style="width: 150px;">
          </div>
          <div class="form-group">
            类型：
            <select name="ancientType" class="form-control-sm" style="width: 85px;padding: 5px">
                <option value="all" selected>全部</option>
                <option value="shi">诗</option>
                <option value="ci">词</option>
                <option value="wen">古文</option>
                <option value="other">其他</option>
            </select>
          </div>
        </div>
        <div id="modern-search" class="collapse">
          <div class="form-group">
            标题：<input class="form-control-sm" type="text" name="modernTitle" style="width: 150px;">
          </div>
          <div class="form-group">
            作者：<input class="form-control-sm" type="text" name="modernAuthor" style="width: 150px;">
          </div>
          <div class="form-group">
            标签：<input class="form-control-sm" type="text" name="modernLabel" style="width: 150px;">
          </div>
        </div>
      </div>
      <div class="col-md-3 offset-md-1 py-4">
        <h4>帮助</h4>
        <p class="text-info">
          Some help about advanced mode
        </p>
      </div>
    </div>
  </div>
</div>
</form>