$def with (data=None)

<!DOCTYPE html>
<html>

  $:data['header']
  <div class="py-5 d-flex align-items-center" style="background:url($data['landing']['daily']['imgurl']);">
    <div class="container" style="padding-top: 100px">
      <div class="row">
        <div class="mx-auto text-center col-md-6">
          <a href="$data['landing']['daily']['poemurl']">
            <h1 class="display-1 text-white">
              $data['landing']['daily']['title']
            </h1>
          </a>
          <p class="lead text-primary" title="现代诗每日推荐">
            <a href="$data['landing']['daily']['poemurl']">
              $:data['landing']['daily']['content']
            </a>
            <a href="$data['landing']['daily']['poeturl']">
              <div class="blockquote-footer">$data['landing']['daily']['poet']</div>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        $for poem in data['landing']['random_modern']:
          <div class="p-4 col-lg-4 col-md-6">
            <a href="$poem['poemurl']">
              <h4><b>$poem['title']</b></h4>
            </a>
            <p title="随机现代诗">
              <a href="$poem['poemurl']">
                $:poem['content']
              </a>
              <a href="$poem['poeturl']">
                <div class="blockquote-footer">$poem['poet']</div>
              </a>
            </p>
          </div>
      </div>
    </div>
  </div>
  <!-- style="background: url(/static/image/wooden_bg.jpg) no-repeat; background-size:100% 100%;"-->
  <div class="py-5 bg-primary">
    <div class="container">
      <div class="row">
        <div class="p-4 col-lg-8">
          <h4 class="mb-3 display-4 text-white">诗情画意</h4>
          <div class="blockquote text-muted">
            <a href="$data['landing']['scenery']['poemurl']">
              <h4><b>$data['landing']['scenery']['title']</b></h4>
            </a>
            <a href="$data['landing']['scenery']['poemurl']">
              <p class="mb-0"  title="诗画每日推荐">
                $:data['landing']['scenery']['content']
              </p>
            </a>
            <a href="$data['landing']['scenery']['poeturl']">
              <div class="blockquote-footer">$data['landing']['scenery']['poet']</div>
            </a>
          </div>
          <a class="btn btn-info" href="/gallery">更多</a>
        </div>
        <div class="col-md-4 align-self-center">
          <img class="img-fluid d-block" src="$data['landing']['scenery']['imgurl']"> </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-wooden">
    <div class="container">
      <div class="row mb-3">
        <div class="text-center mx-auto p-4 bg-secondary col-lg-6 col-md-10">
          <a href="$data['landing']['daily_ancient']['poemurl']">
            <h2 class="text-white">$data['landing']['daily_ancient']['title']</h2>
          </a>
          <a href="$data['landing']['daily_ancient']['poemurl']">
            <p class="text-light" title="古诗每日推荐">
              $:data['landing']['daily_ancient']['content']
            </p>
          </a>
          <a href="$data['landing']['daily_ancient']['poeturl']">
            <div class="blockquote-footer">$data['landing']['daily_ancient']['poet']</div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="p-4 col-lg-4">
          <h4 class="mb-3"><b>你可能对这些标签感兴趣</b></h4>
          $for label in data['landing']['labels']:
            <a style="font-size: large;" href="$label['labelurl']"><span class="badge badge-success" href="">$label['label']</span></a>
        </div>
        <div class="p-md-4 col-lg-8">
          <!--<h4 class="mb-3"><b>Bold Heading 4</b></h4>-->
          <div class="carousel slide" data-ride="carousel" id="ancient_carousel">
            <ul class="carousel-indicators">
              $for i in range(len(data['landing']['random_ancient'])):
                $if i == 0:
                  <li data-target="#ancient_carousel" data-slide-to="$i" class="active"></li>
                $else:
                  <li data-target="#ancient_carousel" data-slide-to="$i"></li>
            </ul>
            <div class="carousel-inner bg-light" role="listbox">
              $ first = True
              $for poem in data['landing']['random_ancient']:
                $if first:
                  <div class="carousel-item p-5 active">
                $else:
                  <div class="carousel-item p-5">
                <div class="blockquote text-muted mb-0 px-2">
                    <p class="mb-0" title="随机古诗">
                        <a class="mb-0" href="$poem['poemurl']">$poem['title']<br> </a>
                        <a class="mb-0" href="$poem['poemurl']">
                          $:poem['content']
                        </a>
                    </p>
                  <a href="$poem['poeturl']"><div class="blockquote-footer">$poem['poet']</div></a>
                </div>
                </div>
                $ first = False
            </div>
            <a class="carousel-control-prev" href="#ancient_carousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
            <a class="carousel-control-next" href="#ancient_carousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="bg-info p-4">
    <div class="container">
      <div class="row">
        <div class="p-0 col-lg-4 col-md-6">
          <img class="img-fluid" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDW8nO9JhT_pEjebobq9pgUF2cEp0EUb1I&amp;markers=folsom+Ave+san+francisco&amp;center=folsom+Ave+san+francisco&amp;zoom=16&amp;size=640x450&amp;sensor=false&amp;scale=2"> </div>
        <div class="col-md-5 align-self-center p-4 offset-md-1">
          <h4>Heading</h4>
          <p class="mb-4 text-primary">795 Folsom Ave, Suite 600 <br>San Francisco, CA 94107 <br> <abbr title="Phone">P:</abbr> (123) 456-7890 </p>
          <div class="row text-center">
            <div class="col-md-2 col-3">
              <a href="#" target="_blank"><i class="fa fa-facebook text-primary fa-2x"></i></a>
            </div>
            <div class="col-md-2 col-3">
              <a href="#" target="_blank"><i class="fa fa-twitter text-primary fa-2x"></i></a>
            </div>
            <div class="col-md-2 col-3">
              <a href="#" target="_blank"><i class="fa fa-instagram text-primary fa-2x"></i></a>
            </div>
            <div class="col-md-2 col-3">
              <a href="#" target="_blank"><i class="fa text-primary fa-2x fa-pinterest-p"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark py-3">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-lg-4 col-md-6">
          <p class="text-secondary mb-0">Copyright - Lorem ipsum dolor sit amet</p>
        </div>
        <div class="col-lg-4 col-md-6">
          <p class="text-secondary mb-0">2018 - Lorem ipsum dolor sit amet</p>
        </div>
      </div>
    </div>
  </div>-->
  $:data['footer']
</body>

</html>