$def with (data=None)

<!DOCTYPE html>
<html>

  $:data['header']
  <div class="text-center py-5">
    <div class="container">
      <div class="row my-5 justify-content-center">
        <div class="col-md-9">
          <h4>请输入您的诗，我们将为您的诗匹配合适的插图！</h4>
          <textarea class="form-control" rows="6" id="user-poem"></textarea>
            <br>
            <button class="btn btn-secondary" id="start-match" onclick="start_match()">开始分析</button>
        </div>
      </div>
    </div>
  </div>
  <div class="py-4 bg-dark text-center collapse" id="generate-result">
    <div class="container-fluid">
      <div class="row px-2" id="generate-frame">

      </div>
    </div>
  </div>
    $:data['footer']

  <script type="text/javascript">
    gbs = ['bg-light', 'bg-primary', 'bg-secondary', 'bg-info'];
      function start_match () {
          if (jQuery("#user-poem").val() !== "") {
              console.log(jQuery("#user-poem").val());
              jQuery.post("/matchimage",
                  {
                      poem: jQuery("#user-poem").val()
                  },
                  function (data, status) {
                      data = eval('(' + data + ')');
                      console.log(data[1]);
                      res = jQuery("#generate-frame").html();
                      for(var i in data[1]){
                          item = data[1][i];
                          res += "<div class=\"col-5 mx-2 " + gbs[Math.floor(Math.random()*gbs.length)] + " pt-5 px-5 mb-3 justify-content-center\" style='height: 600px;overflow: hidden;'>" +
                              "<h2 class=\"mt-3\">" + item['desc'] + "</h2>" +
                              "<img class=\"card-img-bottom\"  href=\""+ item['source'] +"\" src=\"" + item['imgurl'] + "\" style='width: 100%;'>" +
                              "</div>"
                      }
                      jQuery("#generate-frame").html(res);
                      jQuery("#generate-result").collapse('show');
                  });
              jQuery("html,body").animate({scrollTop:jQuery("#generate-result").offset().top},1000);
          }
      }
    </script>
</body>
</html>