<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="p-3 h-100 d-flex flex-column text-center bg-dark" >
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h1 class="cover-heading"><b>404 Page Not Found</b></h1>
          <p class="lead"></p>
          <a href="#" class="btn btn-lg btn-light"><b class="">Learn more</b></a>
        </div>
      </div>
    </div>
    <div class="container mt-auto">
      <div class="row">
        <div class="col-md-12">
          <p class="mt-auto text-secondary">Cover template for <a href="#" class="text-white">Bootstrap</a>, by <a href="#" class="text-white">@mdo</a>.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>